<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="javaMapperPackage" value="com.example.shardingspheredemo.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.example.shardingspheredemo.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="ShardingSphereDemo" />
        <option name="lombokGetterSetterAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="ShardingSphereDemo">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.example.shardingspheredemo.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.example.shardingspheredemo.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.example.shardingspheredemo.service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources/mapper" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusIdType" value="NONE" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="coursedb:course_1">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Course1" />
                  <option name="moduleName" value="ShardingSphereDemo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coursedb:course_2">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="Course2" />
                  <option name="moduleName" value="ShardingSphereDemo" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coursedb:t_dict">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="TDict" />
                  <option name="moduleName" value="ShardingSphereDemo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="coursedb:t_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="ShardingSphereDemo" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources/mapper" />
      </ProjectProfile>
    </option>
  </component>
</project>